body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
border: 1px solid black;
display: grid;
height: fit-content;
grid-template-columns: repeat(10,20px);
}
.box{
width: 20px;
height:20px;
border: 1px solid black;
background: gray;
}
.box{
    
}
.ananas{
width: 25px;
height: 25px;
border-radius: 100px;
}